# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

gittle>=0.5.0 # MIT
pbr>=2.0 # Apache-2.0
pecan>=1.3.2
netifaces==0.10.4
SQLAlchemy==0.9.7
WSME>=0.6
MySQL-python==1.2.5
PyMySQL>=0.7.6
requests==2.6.0
oslo.db==1.7.2
oslo.serialization
oslo.config>=4.6.0 # Apache-2.0
oslo.policy
oslo.log>=3.30.0 # Apache-2.0
sqlalchemy-migrate>=0.9.6
